<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>4</integer>
		<key>content</key>
		<string>看你撒旦法拉SD卡弗拉的快速减肥了；阿斯顿借款分类；阿斯顿会计分录；俺都快放假了；打算会计分录；看到家了；分开绝对是路口附近阿杜里斯；积分卡拉斯；点击分开老师；的境况；阿里山的会计法律；四度空间；浪费就死定了；fj</string>
		<key>createdate</key>
		<string>2016-11-28</string>
		<key>createtime</key>
		<string>18:10:57</string>
		<key>devicesession</key>
		<string>69449fea2e7e4a6f59f565aa6706b855</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5826</integer>
				<key>imgname</key>
				<string>cdv_photo_030.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/7/20/146898438460998073.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5825</integer>
				<key>imgname</key>
				<string>cdv_photo_029.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/7/20/146898411839991594.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5824</integer>
				<key>imgname</key>
				<string>cdv_photo_025.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/7/20/146898287130271000.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5823</integer>
				<key>imgname</key>
				<string>cdv_photo_024.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/7/20/146898259714797613.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5822</integer>
				<key>imgname</key>
				<string>cdv_photo_017.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/7/20/146898115448915605.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5821</integer>
				<key>imgname</key>
				<string>cdv_photo_016.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/7/20/146898102740365667.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2273</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>MI 4LTE</string>
		<key>id</key>
		<integer>962</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>1</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>New item</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-28</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-28</string>
		<key>updatetime</key>
		<string>18:10:57</string>
		<key>viewtype</key>
		<string>DEFAULT</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>塞浦路斯可怕</string>
		<key>createdate</key>
		<string>2016-11-24</string>
		<key>createtime</key>
		<string>14:28:44</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5806</integer>
				<key>imgname</key>
				<string>20161124142822.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147996890374674610.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5805</integer>
				<key>imgname</key>
				<string>20161124142822.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147996890318325391.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5804</integer>
				<key>imgname</key>
				<string>20161124142822.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147996890304957348.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5803</integer>
				<key>imgname</key>
				<string>20161124142822.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147996890299693979.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5802</integer>
				<key>imgname</key>
				<string>20161124142822.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147996890268667784.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2261</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>956</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>1</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-24</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-24</string>
		<key>updatetime</key>
		<string>14:28:44</string>
		<key>viewtype</key>
		<string>DEFAULT</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>3</integer>
		<key>content</key>
		<string>匿名</string>
		<key>createdate</key>
		<string>2016-11-24</string>
		<key>createtime</key>
		<string>09:19:52</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5801</integer>
				<key>imgname</key>
				<string>20161124091932.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147995037357489584.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5800</integer>
				<key>imgname</key>
				<string>20161124091916.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147995035764242214.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5799</integer>
				<key>imgname</key>
				<string>20161124091858.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147995033900354012.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5798</integer>
				<key>imgname</key>
				<string>20161124091841.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147995032305123786.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5797</integer>
				<key>imgname</key>
				<string>20161124091815.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147995029600067650.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5796</integer>
				<key>imgname</key>
				<string>20161124091759.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/24/147995028087746741.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2260</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>955</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>1</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-24</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-24</string>
		<key>updatetime</key>
		<string>09:19:52</string>
		<key>viewtype</key>
		<string>DEFAULT</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>头的我也饿也特好</string>
		<key>createdate</key>
		<string>2016-11-23</string>
		<key>createtime</key>
		<string>09:24:31</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5787</integer>
				<key>imgname</key>
				<string>20161123092426.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/23/147986426695198448.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5786</integer>
				<key>imgname</key>
				<string>20161123092425.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/23/147986426619756751.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5785</integer>
				<key>imgname</key>
				<string>20161123092424.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/23/147986426524748531.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5784</integer>
				<key>imgname</key>
				<string>20161123092423.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/23/147986426418195033.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5783</integer>
				<key>imgname</key>
				<string>20161123092421.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/23/147986426318043307.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5782</integer>
				<key>imgname</key>
				<string>20161123092420.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/23/147986426127818991.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2202</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>951</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>0</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-23</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-23</string>
		<key>updatetime</key>
		<string>09:24:31</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>11111111111111111</string>
		<key>createdate</key>
		<string>2016-11-22</string>
		<key>createtime</key>
		<string>14:53:14</string>
		<key>devicesession</key>
		<string>74b11831b8714bdb78da90df51efe875</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5781</integer>
				<key>imgname</key>
				<string>20161122150135.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/22/147979809625981567.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5780</integer>
				<key>imgname</key>
				<string>20161122150133.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/22/147979809425468813.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5779</integer>
				<key>imgname</key>
				<string>20161122150132.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/22/147979809310927397.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5778</integer>
				<key>imgname</key>
				<string>20161122150131.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/22/147979809228870286.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5777</integer>
				<key>imgname</key>
				<string>20161122150130.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/22/147979809105068539.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5776</integer>
				<key>imgname</key>
				<string>20161122150127.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/22/147979808898302444.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2201</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone Simulator</string>
		<key>id</key>
		<integer>950</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>0</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-22</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-22</string>
		<key>updatetime</key>
		<string>15:01:40</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>Asked add</string>
		<key>createdate</key>
		<string>2016-11-22</string>
		<key>createtime</key>
		<string>14:25:08</string>
		<key>devicesession</key>
		<string>fcbf360bdbddb84e510665850705ae9b</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5769</integer>
				<key>imgname</key>
				<string>IMG_20160513_104104.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/29/147246489021473444.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5768</integer>
				<key>imgname</key>
				<string>IMG_20160513_104036.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/29/147246478916673743.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5767</integer>
				<key>imgname</key>
				<string>IMG_20160513_104047.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/29/147246472803170219.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5766</integer>
				<key>imgname</key>
				<string>tempimage.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/29/147246468965316082_SQ.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5765</integer>
				<key>imgname</key>
				<string>tempimage.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/29/147246466139887285_SQ.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5764</integer>
				<key>imgname</key>
				<string>1472464539599.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/29/147246445397488626.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2199</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone Simulator</string>
		<key>id</key>
		<integer>949</integer>
		<key>iseventlike</key>
		<true/>
		<key>likenum</key>
		<integer>1</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-22</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-22</string>
		<key>updatetime</key>
		<string>14:25:08</string>
		<key>viewtype</key>
		<string>DEFAULT</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>测试</string>
		<key>createdate</key>
		<string>2016-11-17</string>
		<key>createtime</key>
		<string>10:25:34</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5690</integer>
				<key>imgname</key>
				<string>20161117102515.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/17/147934951540381106.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2057</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>929</integer>
		<key>iseventlike</key>
		<true/>
		<key>likenum</key>
		<integer>1</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-17</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-17</string>
		<key>updatetime</key>
		<string>14:56:37</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>Bubiib f retrofitted </string>
		<key>createdate</key>
		<string>2016-11-16</string>
		<key>createtime</key>
		<string>15:10:09</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5686</integer>
				<key>imgname</key>
				<string>noOne.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/29/147243626581989309.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5652</integer>
				<key>imgname</key>
				<string>tmp_55e6ce0e69401b34d07ba0341632567980.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/2/147009985454730889.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2038</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>926</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>0</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-16</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-17</string>
		<key>updatetime</key>
		<string>10:14:33</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>1</integer>
		<key>content</key>
		<string>Ugcuvuuvuvuvvuvuvhuyyy</string>
		<key>createdate</key>
		<string>2016-11-16</string>
		<key>createtime</key>
		<string>15:10:57</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5648</integer>
				<key>imgname</key>
				<string>20160826152651.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147219632190031830.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5647</integer>
				<key>imgname</key>
				<string>20160826145719.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147219455101811709.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5646</integer>
				<key>imgname</key>
				<string>20160826145448.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147219439941682097.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5645</integer>
				<key>imgname</key>
				<string>20160826145437.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147219438916585057.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5644</integer>
				<key>imgname</key>
				<string>20160826133429.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147218957992212291.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5643</integer>
				<key>imgname</key>
				<string>20160826133429.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147218957991954019.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5642</integer>
				<key>imgname</key>
				<string>20160826133429.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147218957991580615.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5641</integer>
				<key>imgname</key>
				<string>20160826133429.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147218957991262877.png</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5640</integer>
				<key>imgname</key>
				<string>20160826133429.png</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/8/26/147218957990090111.png</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>2023</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>927</integer>
		<key>iseventlike</key>
		<true/>
		<key>likenum</key>
		<integer>1</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-16</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-17</string>
		<key>updatetime</key>
		<string>09:13:42</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>Bubiib </string>
		<key>createdate</key>
		<string>2016-11-15</string>
		<key>createtime</key>
		<string>17:17:48</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5562</integer>
				<key>imgname</key>
				<string>20161115171742.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147920146344405649.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5561</integer>
				<key>imgname</key>
				<string>20161115171742.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147920146253568936.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1957</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1958</integer>
				<key>memberid</key>
				<integer>10095</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/9/147597825025540176_SQ.jpg</string>
				<key>membername</key>
				<string>胖九</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1959</integer>
				<key>memberid</key>
				<integer>10122</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/9/28/147502766720424183_SQ.png</string>
				<key>membername</key>
				<string>不饿123453</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>912</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>0</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>3</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-15</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-15</string>
		<key>updatetime</key>
		<string>17:17:48</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>Vbjj </string>
		<key>createdate</key>
		<string>2016-11-15</string>
		<key>createtime</key>
		<string>15:28:48</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5541</integer>
				<key>imgname</key>
				<string>20161115152848.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919492839710647.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5540</integer>
				<key>imgname</key>
				<string>20161115152847.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919492761060963.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5539</integer>
				<key>imgname</key>
				<string>20161115152846.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919492679496450.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1953</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>908</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>0</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-15</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-15</string>
		<key>updatetime</key>
		<string>15:28:48</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>0</integer>
		<key>content</key>
		<string>Jbjbjbibjvibjb </string>
		<key>createdate</key>
		<string>2016-11-15</string>
		<key>createtime</key>
		<string>14:57:08</string>
		<key>devicesession</key>
		<string>819bb0ea6284613e5aef89fc2c7a936c</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5533</integer>
				<key>imgname</key>
				<string>20161115145623.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919298374152042.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5532</integer>
				<key>imgname</key>
				<string>20161115145622.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919298280572728.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5531</integer>
				<key>imgname</key>
				<string>20161115145621.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919298189116517.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5530</integer>
				<key>imgname</key>
				<string>20161115145620.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919298107229116.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5529</integer>
				<key>imgname</key>
				<string>20161115145620.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919298024681325.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5528</integer>
				<key>imgname</key>
				<string>20161115145619.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/15/147919297941407901.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1950</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5c</string>
		<key>id</key>
		<integer>905</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>0</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-15</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-15</string>
		<key>updatetime</key>
		<string>14:57:08</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>6</integer>
		<key>content</key>
		<string>1376676464646464646464646764后给你们磨破破破破破MSNMSN</string>
		<key>createdate</key>
		<string>2016-11-04</string>
		<key>createtime</key>
		<string>15:37:27</string>
		<key>devicesession</key>
		<string>a8e24c5eb27fb291724567cd81ed4d6b</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5515</integer>
				<key>imgname</key>
				<string>20161104154051.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/4/147824503632002353.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1890</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone 5s</string>
		<key>id</key>
		<integer>873</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>0</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-04</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-04</string>
		<key>updatetime</key>
		<string>15:37:27</string>
		<key>viewtype</key>
		<string>default</string>
	</dict>
	<dict>
		<key>accesstype</key>
		<string>PROTECTED</string>
		<key>address</key>
		<string></string>
		<key>commentnum</key>
		<integer>6</integer>
		<key>content</key>
		<string>asadfa</string>
		<key>createdate</key>
		<string>2016-11-03</string>
		<key>createtime</key>
		<string>11:36:20</string>
		<key>devicesession</key>
		<string>329305b794acb670f2541e35342a685b</string>
		<key>enddate</key>
		<string></string>
		<key>endtime</key>
		<string></string>
		<key>eventgallery</key>
		<array>
			<dict>
				<key>id</key>
				<integer>5514</integer>
				<key>imgname</key>
				<string>20161103113611.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/3/147814417291078230.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5513</integer>
				<key>imgname</key>
				<string>20161103113609.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/3/147814417025109009.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5512</integer>
				<key>imgname</key>
				<string>20161103113605.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/3/147814416745999686.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5511</integer>
				<key>imgname</key>
				<string>20161103113604.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/3/147814416483424508.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5510</integer>
				<key>imgname</key>
				<string>20161103113603.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/3/147814416349493103.jpg</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>5509</integer>
				<key>imgname</key>
				<string>20161103113601.jpg</string>
				<key>url</key>
				<string>http://img.autojfun.com/2016/11/3/147814416233034335.jpg</string>
			</dict>
		</array>
		<key>eventmember</key>
		<array>
			<dict>
				<key>id</key>
				<integer>1889</integer>
				<key>memberid</key>
				<integer>10137</integer>
				<key>memberlogo</key>
				<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
				<key>membername</key>
				<string>二二滴滴滴</string>
			</dict>
		</array>
		<key>eventtype</key>
		<string>TRAVEL</string>
		<key>fromdevice</key>
		<string>iPhone Simulator</string>
		<key>id</key>
		<integer>872</integer>
		<key>iseventlike</key>
		<false/>
		<key>likenum</key>
		<integer>1</integer>
		<key>linkphone</key>
		<string></string>
		<key>memberid</key>
		<integer>10137</integer>
		<key>memberlogo</key>
		<string>http://img.autojfun.com/2016/10/17/147666981141332704_SQ.png</string>
		<key>membername</key>
		<string>二二滴滴滴</string>
		<key>membernum</key>
		<integer>1</integer>
		<key>mobilephone</key>
		<string></string>
		<key>openstatus</key>
		<integer>0</integer>
		<key>orgname</key>
		<string></string>
		<key>pathplanning</key>
		<string></string>
		<key>searchkeywords</key>
		<string></string>
		<key>startdate</key>
		<string></string>
		<key>starttime</key>
		<string></string>
		<key>status</key>
		<integer>0</integer>
		<key>tags</key>
		<string></string>
		<key>timestr</key>
		<string>2016-11-03</string>
		<key>title</key>
		<string></string>
		<key>updatedate</key>
		<string>2016-11-03</string>
		<key>updatetime</key>
		<string>11:36:20</string>
		<key>viewtype</key>
		<string>time</string>
	</dict>
</array>
</plist>
